.wrapper {
    width: 100%;
    position: sticky;
    top: var(--navbar-height);
    z-index: 100;
    background-color: var(--color-bg);

}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--size-large) var(--page-padding);
    gap: var(--size-small);
}