.wrapper {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-bg);
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 28px var(--page-padding);
    height: var(--navbar-height);

}

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 74px;
  }