.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--size-xlarge) var(--page-padding);
    margin: 0 auto;
    max-width: var(--narrow-max-width);
    gap: var(--size-xlarge);
}

.backButtonWrapper {
    position: sticky;
    top: var(--navbar-height);
    left: var(--page-padding);
    width: 100%;
    background-color: var(--color-bg);
    z-index: 1000;
}

.backButtonContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--size-xsmall);
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--page-padding);
}

